{% extends "base.html" %}
{% block content %}
<br />
<div class="jumbotron">
{% if block.Status == 'ok' %}
    &nbsp;&nbsp;
    <form method="get" action="/search" autocomplete="off" form style="display:inline">
    <input type="text"  size = "75" name="sterm" pattern="[a-zA-Z0-9 ]{1,}"title="a-z A-Z 0-9" maxlength="75"  autofocus required>
    <button type ="submit" class="button" value="Display">&larr;Search Height, Hash or Address</button></form><br>

    <br />
    <h2>Block Height: <a style="color:maroon;" href="/?height={{block.blk[0]}}">{{block.blk[0]}}</a></h2>

<form style="display:inline" form="" action="block" method="get">
<button class="btn" value="{{ block.blk[0] - 1}}" name="block" type="submit">&lt;-- Prev Block</button>
</form>
<form style="display:inline" form="" action="block" method="get">
<button class="btn" value="{{ block.blk[0] + 1}}" name="block" type="submit">Next Block --&gt;</button>
</form>

   </div>
 <div class="container-fluid">
    Height: {{ block.blk[0] }}<br>
    Hash: {{ block.blk[1] }}<br>
    Time: {{ block.blk[2] }} ({{block.blk[2] | format_time }})<br>
    Creator ID: {% if block.creatorAlias %} <strong>{{ block.creatorAlias[0] }}</strong> <small>({{ block.blk[3] }})</small>{% else%}{{ block.blk[3] }}{%endif%}<br>
    Chain signature: {{ block.blk[8] }} ({{ block.blk[4] }})<br>
{% if block.blk[5] %}    Admin Signature: {{ block.blk[10] }} ({{ block.blk[5] }})<br>
{%endif%}    Creator signature: {{ block.blk[9] }}<br>
    Missing signers({{block.blk[18]}}): {{ block.blk[17] }}<br>
    Payload: {{ block.blk[6] }}<br>
    Transactions: {{ block.blk[15] }} <br>
    Total sent: {{ block.blk[16] | normalize }}<br>
    Total fees: {{ block.blk[14] | normalize }}<br>
    Size: {{ block.blk[11] }} bytes<br>
    Merkle root: {{ block.blk[13] }}<br>
    Payload hash: {{ block.blk[7] }}<br>
    Version: {{ block.realVersion }}<br>

</div>
{% if block.transactions %}
<div class="container-fluid">
<br /> <h2> Transactions</h2><br />
     <table class="table table-condensed table-striped table-hover table-responsive table-bordered">
        <thead>
            <th>Transaction hash(TXID)</th>
            <th>Input address : amount</th>
            <th>Output address : amount</th>
        </thead>
     <tbody>

    {% for tx in block.transactions.iteritems() %}
    <tr><td><a href="/transaction?transaction={{ tx[0] }}">{{ tx[0] }}</a></td><td>
        {% for address,value in tx[1].txin.iteritems() %}
            {% if address == "PoC Fees" %}
                {{ address }} : {{ value | normalize }}
            {% else %}
            <a href="/address?address={{ address }}">{{ address }}</a> : {{ value | normalize }} <br>
            {% endif %}
        {% endfor %}
        </td><td>
        {% for address,value in tx[1].txout.iteritems() %}
            <a href="/address?address={{ address }}">{{ address }}</a> : {{ value | normalize }} <br>
        {% endfor %}
        </td></tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endif %}
{% if block.cvns %}
<div class="container-fluid">
<br /> <h2> CVN payload</h2><br />
     <table class="table table-condensed table-striped table-hover table-responsive table-bordered cvninfo">
        <thead>
            <th>Alias</th>
            <th>CVN ID</th>
            <th>Height added</th>
            <th>Public key</th>
        </thead>
     <tbody>

    {% for cvn in block.cvns %}
    <tr>
       <td>{% if cvn['alias'] %}<strong>{{ cvn['alias'] }}</strong>{% else %}-{%endif%}</td>
       <td>{{ cvn['nodeId'] }}</td>
       <td>{{ cvn['heightAdded'] }}</td>
       <td>{{ cvn['pubKey'] }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endif %}
{% if block.chainAdmins %}
<div class="container-fluid">
<br /> <h2>Chain Admins payload</h2><br />
     <table class="table table-condensed table-striped table-hover table-responsive table-bordered cvninfo">
        <thead>
            <th>Alias</th>
            <th>Admin ID</th>
            <th>Height added</th>
            <th>Public key</th>
        </thead>
     <tbody>

    {% for a in block.chainAdmins %}
    <tr>
       <td>{% if a['alias'] %}<strong>{{ a['alias'] }}</strong>{% else %}-{%endif%}</td>
       <td>{{ a['adminId'] }}</td>
       <td>{{ a['heightAdded'] }}</td>
       <td>{{ a['pubKey'] }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endif %}
{% if block['chainParameter'] %}
<div class="container-fluid">
<br /> <h2>Chain parameter payload</h2><br />
     <table class="table table-condensed table-striped table-hover table-responsive table-bordered">
        <thead>
            <th>Name</th>
            <th>Value</th>
        </thead>
     <tbody>

    <tr><td>Version</td><td>{{ block['chainParameter']['version'] }}</td></tr>
    <tr><td>Minimum admin signers</td><td>{{ block['chainParameter']['minAdminSigs'] }}</td></tr>
    <tr><td>Maximum admin signers</td><td>{{ block['chainParameter']['maxAdminSigs'] }}</td></tr>
    <tr><td>Block spacing (sec.)</td><td>{{ block['chainParameter']['blockSpacing'] }}</td></tr>
    <tr><td>Block spacing grace period (sec.)</td><td>{{ block['chainParameter']['blockSpacingGracePeriod'] }}</td></tr>
    <tr><td>Transaction fee</td><td>{{ block['chainParameter']['transactionFee'] | normalize }} FAIR</td></tr>
    <tr><td>Dust threshold</td><td>{{ block['chainParameter']['dustThreshold'] | normalize }} FAIR</td></tr>
    <tr><td>Minimum successive signatures</td><td>{{ block['chainParameter']['minSuccessiveSignatures'] }}</td></tr>
    <tr><td>Blocks to consider for signature check</td><td>{{ block['chainParameter']['blocksToConsiderForSigCheck'] }}</td></tr>
    <tr><td>Percentage of signatures mean</td><td>{{ block['chainParameter']['percentageOfSignaturesMean'] }}</td></tr>
    <tr><td>Maximum block size</td><td>{{ block['chainParameter']['maxBlockSize'] }}</td></tr>
    <tr><td>Block propagation wait time</td><td>{{ block['chainParameter']['blockPropagationWaitTime'] }}</td></tr>
    <tr><td>Retry new signature set interval</td><td>{{ block['chainParameter']['retryNewSigSetInterval'] }}</td></tr>
    <tr><td>Description</td><td>{{ block['chainParameter']['description'] }}</td></tr>
    </tbody>
    </table>
</div>
{% endif %}

{% if block['coinSupply'] %}
<div class="container-fluid">
<br /> <h2>Coin supply payload</h2><br />
     <table class="table table-condensed table-striped table-hover table-responsive table-bordered">
        <thead>
            <th>Name</th>
            <th>Value</th>
        </thead>
     <tbody>

    <tr><td>Amount</td><td>{{ block['coinSupply']['value']  | normalize }} FAIR</td></tr>
    <tr><td>Destination address</td><td>{{ block['coinSupply']['destinationAddress'] }}</td></tr>
    <tr><td>Is this the final coin supply</td><td>{{ block['coinSupply']['isFinal'] }}</td></tr>
    <tr><td>Description</td><td>{{ block['coinSupply']['description'] }}</td></tr>
    <tr><td>Destination script</td><td>{{ block['coinSupply']['destinationAsm'] }}</td></tr>
    <tr><td>Destination script hex</td><td>{{ block['coinSupply']['destinationHex'] }}</td></tr>
    <tr><td>Destination script type</td><td>{{ block['coinSupply']['destinationType'] }}</td></tr>
    <tr><td>Version</td><td>{{ block['coinSupply']['version'] }}</td></tr>
    </tbody>
    </table>
</div>
{% endif %}

{% else %}
<br /><h1 style="text-align:center;">Block was not found.</h1></div>


{% endif %}

{% endblock %}

