{% extends "base.html" %}
{% block content %}

<br />
<div class="jumbotron">
    {% if cvns.Status != "error" %}
    <h2>Currently active CVNs: {{ cvns.Data | length }}</h2>
    </div>
    <div class="container-fluid table-responsive">
     <table class="table table-condensed table-striped table-hover table-responsive table-bordered cvninfo">
        <thead>
            <th>&nbsp;</th>
            <th>Alias</th>
            <th>CVN ID</th>
            <th>Height<br/>added</th>
            <th>Predicted<br/>next block</th>
            <th>Number of Signatures<br/>(during the last 10 blocks)</th>
            <th>Public key</th>
        </thead>
     <tbody>

    {% for row in cvns.Data %}
    <tr>
       <td>{{ loop.index }}</td>
       <td>{% if row[5] %}<strong>{{ row[5] }}</strong>{% else %}-{%endif%}</td>
       <td>{{ row[0] }}</td>
       <td>{{ row[1] }}</td>
       <td>{{ row[3] }}</td>
       <td>{{ row[4] }}</td>
       <td><small>{{row[2]}}</small></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>

{% else %}
    <h1 style="text-align:center;">Active CVNs was not found.</h1></div>


{% endif %}


{% endblock %}
